@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
    </thead>
    <tbody>
        @foreach(var e in Model) {
            <tr>
                <td>@e.Id</td>
                <td>@e.CustomerName</td>
                <td>@e.Address</td>
                <td>@e.Contact</td>
            </tr>
        }
    </tbody>
</table>
