@model IEnumerable<ProductResponseModel>
@{
    ViewData["Title"] = "Products";
}

<h1>List of Products</h1>
<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>Category: </h4>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->
                @foreach (var m in Model)
                {
                    <div class="col-md-3">
                        <partial name="_ProductCard" model="m" />
                    </div>
                }
                <!-- if products empty then display a message -->
                @if (Model.ToList().Count == 0)
                {
                    <div class="alert alert-warning col-md-12" role="alert">No products found.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
